server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/chatUniv?useSSL=false&useUnicode=true&characterEncoding=utf8&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      use-new-id-generator-mappings: false
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        #use_sql_comments: true

  servlet.multipart.max-file-size: 5MB
  servlet.multipart.max-request-size: 5MB


security:
  jwt:
    token:
      secret-key: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9eyJzdWIiOiIiLCJuYW1lIjoiSm9obiBEb2UiLCJpYXQiOjE1MTYyMzkwMjJ9ih1aovtQShabQ7l0cINw4k1fagApg3qLWiB8Kt59Lno
      expire-length: 3600000

jasypt:
  encryptor:
    bean: jasyptEncryptor
    password: ${ENCRYPT_KEY}

api:
  gpt_key:
    ENC(ebHdVzXHPdbW05xbVvOjiABzYS6QE6zpCVRy3w+80b3v3KTz1Bf45lqka9p60k8f9jycNeZ5SPWaVET8o4lyfg==)
  gpt_prefix_helper:
    ENC(LfFEuPY65+Gtl/N5rNp0XAADqEqx6nii9YEYKC01ZFsGlKO8zMtb1KdDFczZZiF0aCV5NpWmSuSjbRwgd2lKRd4afLYj6yLLDZUHA75LmPewIOqyXWRvnE98H1IP06evsrovf0I7cJyjgahX8n3TlzrHIhzFVCAjCWeP3rMHgAv7O9xigkMJZI1JhowtP6mt94orr+EkouvAx82mZjtZNL2CS3+ovWw78RNDDp77FHK7r/I5FL1arA==)
  gpt_prefix_starter:
    ENC(bbEXs6ATGgApf5kXjNkVhWN363hwbzXUrGOuc5rr2dBG4ZzJnxB9hYNWbyzH/dWTK4LcLfkkmhrU5yeSsKfzN7B0s9kPBvBB/JPVo10lUiDaiaDt1LSVhnnjVb/Axyzuy6QAjD7J0NM=)
